## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL']]
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_values = application_df["CLASSIFICATION"].value_counts()
print(class_values)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_values[class_values > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_values[class_values < 1883].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(['IS_SUCCESSFUL'], axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
nodes_layer1 = 80
nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\andre\anaconda3\envs\tf\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6618 - accuracy: 0.7290
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6700 - accuracy: 0.7276
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6618 - accuracy: 0.7282
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6641 - accuracy: 0.7285
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6662 - accuracy: 0.7285
Epoch 6/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6696 - accuracy: 0.7233
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6633 - accuracy: 0.7205
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6399 - accuracy: 0.7292
Epoch 9/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6396 - accuracy: 0.7218
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6245 - accuracy: 0.7298
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6197 - accuracy: 0.7302
Epoch 12/100
804/804 [==============================] - 4s 5ms/step - loss: 0.7633 - accuracy: 0.7221
Epoch 13/100
804/804 [==============================] - 4s 4ms/step - loss: 0.9205 - accuracy: 0.7163
Epoch 14/100
804/804 [==============================] - 4s 4ms/step - loss: 0.6248 - accuracy: 0.7308
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6494 - accuracy: 0.7135
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6285 - accuracy: 0.7278
Epoch 17/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6848 - accuracy: 0.7260
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6187 - accuracy: 0.7319
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6188 - accuracy: 0.7297
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6149 - accuracy: 0.7328
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6212 - accuracy: 0.7299
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6168 - accuracy: 0.7326
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6197 - accuracy: 0.7309
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.8732 - accuracy: 0.6963
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6268 - accuracy: 0.7262
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5658 - accuracy: 0.7328
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5661 - accuracy: 0.7323
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.7045 - accuracy: 0.7236
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5707 - accuracy: 0.7292
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5696 - accuracy: 0.7301
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5597 - accuracy: 0.7316
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5692 - accuracy: 0.7259
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5605 - accuracy: 0.7332
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5593 - accuracy: 0.7336
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5665 - accuracy: 0.7292
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5603 - accuracy: 0.7329
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5749 - accuracy: 0.7291
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.7566 - accuracy: 0.7198
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6287 - accuracy: 0.7270
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6095 - accuracy: 0.7230
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6092 - accuracy: 0.7297
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5986 - accuracy: 0.7279
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5867 - accuracy: 0.7298
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5788 - accuracy: 0.7317
Epoch 45/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6026 - accuracy: 0.7277
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5808 - accuracy: 0.7317
Epoch 47/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6541 - accuracy: 0.7244
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.7786 - accuracy: 0.7160
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5867 - accuracy: 0.7275
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5770 - accuracy: 0.7324
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5755 - accuracy: 0.7315
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5838 - accuracy: 0.7320
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5774 - accuracy: 0.7328
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5814 - accuracy: 0.7318
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5800 - accuracy: 0.7313
Epoch 56/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5811 - accuracy: 0.7318
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5752 - accuracy: 0.7306
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5701 - accuracy: 0.7298
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5829 - accuracy: 0.7298
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5836 - accuracy: 0.7285
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5751 - accuracy: 0.7318
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5788 - accuracy: 0.7318
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5751 - accuracy: 0.7321
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5733 - accuracy: 0.7341
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5746 - accuracy: 0.7343
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5775 - accuracy: 0.7321
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5737 - accuracy: 0.7323
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5764 - accuracy: 0.7303
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5736 - accuracy: 0.7320
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5827 - accuracy: 0.7273
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5742 - accuracy: 0.7310
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5757 - accuracy: 0.7335
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5734 - accuracy: 0.7348
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5742 - accuracy: 0.7339
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5759 - accuracy: 0.7322
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5755 - accuracy: 0.7322
Epoch 77/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5724 - accuracy: 0.7337
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5745 - accuracy: 0.7330
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5700 - accuracy: 0.7339
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5750 - accuracy: 0.7351
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5749 - accuracy: 0.7339
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5749 - accuracy: 0.7332
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5742 - accuracy: 0.7321
Epoch 84/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5717 - accuracy: 0.7337
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5758 - accuracy: 0.7343
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5725 - accuracy: 0.7334
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5699 - accuracy: 0.7364
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5695 - accuracy: 0.7352
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5720 - accuracy: 0.7343
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5755 - accuracy: 0.7338
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5723 - accuracy: 0.7346
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5765 - accuracy: 0.7308
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5720 - accuracy: 0.7349
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5851 - accuracy: 0.7343
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5720 - accuracy: 0.7354
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5739 - accuracy: 0.7350
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5701 - accuracy: 0.7330
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5686 - accuracy: 0.7357
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5752 - accuracy: 0.7336
Epoch 100/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5743 - accuracy: 0.7290

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6058 - accuracy: 0.7262 - 778ms/epoch - 3ms/step
Loss: 0.6057947278022766, Accuracy: 0.7261807322502136

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE